@using System.Globalization;
@model WineShop.ViewModels.SaskiaViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div id="update-message"></div>
    <table class="table table-striped">
        <thead>
            <tr class="borgona">
                <th>Izena</th>
                <th>Irudia</th>
                <th>Kantitatea</th>
                <th>Salneurria</th>
                <th>Guztira</th>
            </tr>
        </thead>
        @{
            decimal saskiaguztira = 0;
        }
        <tbody>
            @foreach (var item in Model.SaskiaAleaVMList)
            {
                if(item.Kantitatea!=0){
                var subtotal = item.Salneurria * item.Kantitatea;
                saskiaguztira += subtotal;
                <tr id="row-@item.ArdoaId">
						<td>
                            <a href="#" class="Trash" data-id="@item.ArdoaId" data-kantitatea="@item.Kantitatea" data-salneurria="@item.Salneurria">
								<i class=" fas fa-trash"></i>
							</a>
						</td>
						<td>@item.Izena</td>
                    <td>
                        <img class="img-thumbnail altuera" src="~/images/ardoak/@item.Irudia" />
                    </td>
                    <td>
                        <a href="#" class="SubtractLink" data-id="@item.ArdoaId" data-kantitatea="@item.Kantitatea" data-salneurria="@item.Salneurria">
                            <i class="fas fa-minus-circle"></i>
                        </a>
                        <span id="item-count-@item.ArdoaId">@item.Kantitatea</span>
                        <a href="#" class="AddLink" data-id="@item.ArdoaId" data-kantitatea="@item.Kantitatea" data-salneurria="@item.Salneurria">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        

                    </td>
                    <td>@item.Salneurria.ToString("C2", CultureInfo.CurrentCulture)</td>
                    <td>@subtotal.ToString("C2", CultureInfo.CurrentCulture)</td>
                    
                </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="form-group">
                        <label asp-for="Promozioa" class="control-label">Promozioa</label>
                        <input asp-for="Promozioa" class="form-control" />
                       
                    </div>

                    <a class="btn btn-borgona text-light" asp-controller="Home" asp-action="Index">Bueltatu</a>
                    <a class="btn btn-borgona text-light" asp-controller="Ordaindu" asp-action="Index">Ordaindu</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td class="float-right">
                    <p>Guztira: <span id="cart-total">@saskiaguztira.ToString("C2", CultureInfo.CurrentCulture)</span></p>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
