@model IEnumerable<Adibidea.Models.Kontaktua>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Izena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abizena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emaila)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IzenOsoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Izena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abizena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emaila)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IzenOsoa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
